{% extends "base.html" %}
{% block content %}

<form action="{{url_for('auth.login')}}" method="post">
  <label for="email">email</label>
  <input type="email" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <button type="submit">Log in</button>
</form>

<form action="{{url_for('auth.signup')}}" method="post">
  <label for="email">email</label>
  <input type="email" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <label for="password_1">reppeat password</label>
  <input type="password" name="password_1">
  <button type="submit">Sign up</button>
</form>

{% endblock %}