<!DOCTYPE html>
<html>

  <head>
    <title>Dungeon Notes</title>
    <script src="{{ url_for('api.static', filename='htmx') }}"
      crossorigin="anonymous"></script>
    <script src="{{ url_for('api.static', filename='main.js') }}"
      crossorigin="anonymous"></script>
    <link rel="stylesheet"
      href="{{ url_for('api.static', filename='dark-style.css') }}">
  </head>

  <body>
    <div id="container">
      <header>
        <h1>
          Dungeon Notes
        </h1>
        <nav>
          {% if current_user %}
          <span>
            <a href="{{ url_for('auth.logout') }}">
              Log Out
            </a>
          </span>
          {% else %}
          <span>
            <a href="{{ url_for('auth.signup') }}">
              Register
            </a>
          </span>
          <span>
            <a href="{{ url_for('auth.login') }}">
              Log In
            </a>
          </span>
          {% endif %}

        </nav>
      </header>

      <article>
        {% block content %}
        {% endblock %}
      </article>

      <footer>
        {% if current_user %}
        <span class="uname">
          hello, {{current_user.email}}
        </span>
        {% endif %}
        {% for message in get_flashed_messages() %}
        <span class="flash">
          {{ note | safe }}
        </span>
        {% endfor %}
      </footer>

    </div>

  </body>

</html>