{% extends "base.html" %}
{% block content %}

<div class="row">
  <div id="campaign-list-column" class="column timeline">
    <h1>Campaigns</h1>
    <div id="campaigns-list">
      {% for campaign in campaigns %}
      {{ campaign | safe }}
      {% endfor %}
    </div>
  </div>

  <div id="campaign-add-form" class="column timeline">
    <form>
      <h3>Add campaign</h3>
      <label for="title">title</label><br>
      <input type="text" name="title"><br>
      <label for="map">map</label><br>
      <input type="file" name="map"
        accept="image/png, image/gif, image/jpeg, image/svg" hx-on="htmx:validation:validate
          console.log(this.value.size);
          false;
"><br>
      <label for="teaser">teaser text</label><br>
      <textarea type="text" name="teaser"></textarea><br>
      <label for="players">invite players</label><br>
      <input type="text" name="players"><br>
      <button hx-post="{{url_for('campaign.campaign')}}"
        hx-target="#campaigns-list" hx-swap="afterbegin">
        Done!
      </button>
    </form>
  </div>

  <div id="campaign-add-map" class="column timeline">
    <form><label for="map-file">upload map image</label><br>
      <input type="map-file"><br>

    </form>

  </div>
</div>

{% endblock %}